@font-face {
  font-family: "figtree-italic";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}
